# set to something random like: head /dev/urandom | md5sum
API_KEY = ''

# String hashed with the note name to generate random code in the note's URL:
# example.com/my-note-f3b9b3.html
# so that note names can't be guessed
# set to something random like: head /dev/urandom | md5sum
CODE_SEED = ''
