# API Key set in Share Note plugin settings
# set to something random like: head /dev/urandom | md5sum
SECRET_API_KEY = ''

# String hashed with the note name to generate random code in the note's URL:
# example.com/my-note-f3b9b3.html
# so that note names can't be guessed
# this is separate so links don't break if your API key or user ID changes
# set to something random like: head /dev/urandom | md5sum
SECRET_SEED = ''
